@import '../../../../../../../../_variables.scss';
@import '../../../../../../../../mixins.scss';

.random {

  &Container {
    padding: 15px 30px;
    border-bottom: 1px solid #FFFFFF;
  }

  &Button {
    padding: 15px 30px;
   border-bottom: 1px solid $bg_third_light;
  }

  &Name {
    display: flex;
    align-items: center;
    width: 270px;
  }

  &Chain {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;

    &Paragraph {
     width: 47px;
    }
    
    &Icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      svg path {
        fill: $icon_high_accent;
      }
    }
  }
}