@import '../../_variables.scss';
@import '../../_mixins.scss';

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;

    &Icon {
        width: 20px;
        height: 20px;
    }

    svg path {
    fill: $red
    }

    &Text {
        @include text-small($color: $red);
        margin-left: 10px;

        &Normal {
            @include text-regular($color: $text_high_accent_light);
        }
    }
}