@import '../../../../_variables.scss';
@import '../../../../mixins.scss';

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $bg_third_light;
  margin-left: 80px;

  &Alert {
    @include text-regular($color: $text_low_accent);
    width: 163px;
    height: 34px;
    text-align: center;
  }

  &Title {
    @include text-regular
  }

  &Grid {
    display: display;
    flex-wrap: wrap;
    margin: 0;
  }

  &Item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-right: 1px solid $bg_second_light;
    border-bottom: 1px solid $bg_second_light;

    &Image {
      max-width: 300px;
      height: 225px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}