@import '../../../_variables.scss';
@import '../../../mixins.scss';

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
  background: $bg_third_light;
  margin-left: 80px;

  .title {
    @include text-regular
  }
}