@import '../../_variables.scss';
@import '../../_mixins.scss';

.textarea {
  padding: 10px;
  width: 438px;
  height: 190px;
  border: 2px solid $el_accent_high;
  @include text-regular($color: $text_high_accent);
  border-radius: 2px;
  resize: none;

  &:focus {
    border: 2px solid $el_accent_low;
    outline: none;
  }
}