@import '../../_variables.scss';
@import '../../_mixins.scss';

.textarea {
  padding: 10px;
  width: 438px;
  height: 190px;
  border: 2px solid $el_accent_high;
  @include text-regular($color: $text_high_accent);
  border-radius: 2px;
  resize: none;

  &:focus {
    border: 2px solid $el_accent_low;
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
   
  &::-webkit-scrollbar-track {
    background-color: $bg_second_light;
    border-radius: 10px;
    margin: 5px;
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $el_accent_disabled;
  }
}