$accent_high_emphasis_ltheme: #0090D6;
$accent_low_emphasis_ltheme: #41B2E9;
$accent_disabled_ltheme: #93DCFF;

$text_high_emphasis_ltheme: #FFFFFF;
$bg3_white_ltheme: #FFFFFF;

$text_disabled_ltheme: #939393;

.btn {
  background-color: $accent_high_emphasis_ltheme;
  color: $text_high_emphasis_ltheme;
  border: 2px solid $accent_high_emphasis_ltheme;
  cursor: pointer;
  min-width: 90px;
  min-height: 33px;
  border-radius: 4px;
  padding: 8px 20px;
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

    &:hover {
      background-color: $accent_low_emphasis_ltheme;
      border-color: $accent_low_emphasis_ltheme;
    }

    &:disabled {
      background-color: $accent_disabled_ltheme;
      border-color: $accent_disabled_ltheme;
      cursor:not-allowed;
    }

    &White {
      background-color: $bg3_white_ltheme;
      color: $text_disabled_ltheme;

      &:hover {
        background-color: $text_high_emphasis_ltheme;
      }

      &:disabled {
        background-color: $bg3_white_ltheme;
        color: $text_disabled_ltheme;
        cursor: not-allowed;
      }
    }
}