@import '../../_variables.scss';
@import '../../_mixins.scss';

.dropdown {
  background-color: $bg_third_light;
  @include text-regular;

  &Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px;
      cursor: pointer;
      border-top: 1px solid $bg_second_light;


      &Control {
       width: 20px;
       height: 20px;
       cursor: pointer;

       svg path {
           fill: $icon_low_accent
       }
      }
  }

  &Content {
    visibility: hidden;
    height: 0;
    transition: height .3s ease;

    &Active {
     visibility: visible;
     height: 100%;
     padding: 0 30px 15px 30px;

    }
  }
}