@import '../../_variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-first;
  width: 100%;
  min-height: 47px;

  .logoContainer {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    height: 47px;
  }
}