@import '../../../../../_variables.scss';
@import '../../../../../mixins.scss';

.container {
    display: flex;
    background: #F4F4F4;

    &Root {
        display: flex;
        width: 100%;
        padding: 17px 30px 16px 30px;
    }
}