@import '../../../../_variables.scss';
@import '../../../../mixins.scss';

.header {
    display: flex;
    flex-direction: column;

    .title {
        @include text-subtitle($color: $text_high_accent_light);
        margin-bottom: 11px;
    }

    .reload {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include text-regular($color: $text_low_accent);

        &Icon {
            cursor: pointer;

            &:hover {
                transform: rotate(90deg);
            }
        }

        &Time {
            margin-left: 10px;
        }

        &Date {
            margin-left: 5px;
        }
    }
}