@import '../../../_variables.scss';
@import '../../../mixins.scss';

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
        list-style-type: none;
        display: flex;
    }
}

.tab {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    @include text-regular($color: $text_low_accent_light);
    text-decoration: none;
    width: 100%;

    svg path {
        fill: $icon_low_accent_light;
    }

    &Text {
        margin-left: 10px;
    }

    &Active {
        background: $bg_third;
        color: $text_high_accent_light;
        position: relative;

        svg path {
            fill: $icon_high_accent_light;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 6px;
            background-color: $el_accent_high;
        }
    }

    &:hover {
        background: $bg_third;
        color: $text_high_accent_light;

        svg path {
            fill: $icon_high_accent_light;
        }
    }
}