@import '../../_variables.scss';
@import '../../mixins.scss';

.sidebar {
    min-height: calc(100vh - 47px);
    min-width: 300px;
    background-color: $bg_second;

    .header {
        display: flex;
        flex-direction: column;
        padding: 30px;

        .title {
            @include text-subtitle($color: $text_high_accent_light);
        }
    }
}