@import '../../../_variables.scss';
@import '../../../mixins.scss';

.tab {
   padding: 15px;
   display: flex;
  justify-content: center;
  
   a {
    @include text-regular($color: $text_high_accent_light);
    text-decoration: none;
   }
}