@import '../../_variables.scss';
@import '../../_mixins.scss';

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;

  label {
    @include text-small($color: $text_low_accent);
    margin-bottom: 2px;
  }

  & select {
    background: $bg_third_light;
    border: 2px solid $el_accent_high;
    @include text-regular($color: $text_high_accent);
    border-radius: 4px;
    height: 33px;
    padding: 8px 10px;
    cursor: auto;
    position: relative;
    -webkit-appearance: none;
    transition: all 150ms ease;
    width: 200px;
    cursor: pointer;

    & option {

    }
  }

  & select:hover {
    border: 2px solid $el_accent_low;
    outline: none;
  }

  & select:disabled {
    color: $text_disabled;
    border: 2px solid $el_accent_disabled;
    outline: none;
  }
}