/* Бэкграунд */
$bg_first: #301D1A;
$bg_second: #3E2723;
$bg_third: #4A3632;

$bg_first_light: #E8EAFF;
$bg_second_light: #F4F4F4;
$bg_third_light: #FFFFFF;

/* Цвета элементов */
$el_accent_high: #0090D6;
$el_accent_low: #41B2E9;
$el_accent_disabled: #93DCFF;

/* Цвета текста*/
$text_high_accent: #301D1A;
$text_low_accent: #858585;
$text_disabled: #BDBDBD;

$text_high_accent_light: #FFFFFF;
$text_low_accent_light: #CFCFCF;
$text_disabled_light: #939393;

/* Цвета иконок*/
$icon_high_accent: #453532;
$icon_low_accent: #858585;
$icon_disabled: #BDBDBD;

$icon_high_accent_light: #FFFFFF;
$icon_low_accent_light: #CFCFCF;
$icon_disabled_light: #939393;

/* Цвета дополнительные */
$red: #EE0000;
$red_hover: #FF5B5B;

$green: #12E000;
$green_hover: #41FF30;

// Шрифт
$font: 'Rubik', 'Arial', 'Helvetica', sans-serif;

$font-style: normal;

$size-document: 20px;
$line-height-document: 24px;
$subtitle-document: 400;

$size-subtitle: 1rem;
$line-height-subtitle: 1.2rem;
$subtitle-weight: 500;

$size-bold: 0.8rem;
$line-height-bold: 0.8rem;
$bold-weight: 600;

$size-regular: 0.7rem;
$line-height-regular:  0.8rem;
$regular-weight: 400;

$size-small: 0.6rem;
$line-height-small: 0.7rem;
$small-weight: 400;





